<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{plantilla/tema}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SB Admin 2 - Blank</title>
</head>

<body id="page-top">

<div layout:fragment="contenedor">

    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">LISTA DE PLAZOS</h6>
            <h5 class="m-0 font-weight-bold text-primary">Código del caso: <span th:text="${caso.codigoReferencia}"></span></h5>

            <div class="dropdown">
                <a class="btn btn-primary" th:href="@{/nuevoPlazo(id=${caso.id})}"
                   role="button">Nuevo Caso</a>
            </div>

        </div>
        <div class="table-responsive p-3">
            <table class="table align-items-center table-flush" id="dataTable">
                <thead class="thead-light">
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Recordatorio</th>
                    <th>Notificado</th>
                    <th>Fecha Creacion</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plazo: ${listaPlazos}">
                    <td th:text="${plazo.titulo}"></td>
                    <td th:text="${plazo.descripcion}"></td>
                    <td th:text="${plazo.fechaevento}"></td>
                    <td th:text="${plazo.recordatorio}"></td>
                    <td th:text="${plazo.notificado}"></td>
                    <td th:text="${plazo.fechacreacion}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/actualizaPlazo(id=${plazo.id})}"
                           role="button">Editar</a>
                        <a class="btn btn-danger" th:href="@{/eliminarPlazo(id=${plazo.id})}"
                           role="button">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>

</html>